# Exclude PyCharm .idea folders
*.idea/

# Exclude MacOS folders
**/.DS_Store

# Exclude Jupyter checkpoints
*.ipynb_checkpoints

# Exclude all Abaqus output files except .odb and .inp
*.com
*.dat
*.msg
*.prt
*.sim
*.sta
*.log
*.rpy
*.inp
*.odb

# Exclude pictures
*.png

# Exclude old folders
*/old/


# Exclude venv
*/venv/
